

:root {
    --main-red: #D6001C;
    --subordinate-yellow: #FFAD00;
    --subordinate-gold: #C6893F;
}

body {
    background-color: #ffffff;
    color: #333333;
}

.card {
    border-color: var(--main-red);
}

.btn-primary {
    background-color: var(--main-red);
    border-color: var(--main-red);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #e69b00;
    border-color: #e69b00;
}

.btn-warning {
    background-color: var(--subordinate-yellow);
    border-color: var(--subordinate-yellow);
    color: #ffffff;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #e69b00;
    border-color: #e69b00;
    color: #ffffff;
}

h1 {
    color: #000000;
}

h5 {
    color: var(--main-red);
}

.text-success {
    color: var(--subordinate-gold) !important;
}

.text-warning, .text-error {
    color: var(--main-red) !important;
}